.wrapper {
  color: teal;
  display: block;
  text-align: center;
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  margin-top: 150px;
}

svg {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 1.414;
  fill: currentcolor;
  width: 48;
  height: 48;
}

.svg {
  box-sizing: border-box;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
  margin: 8px 0px 16px;
  text-decoration: none;
  color: rgb(64, 111, 201);
  margin: 0px 16px 0px 0px;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}
a:-webkit-any-link {
  text-decoration: none;
  color: hotpink;
  -webkit-appearance: none;
}
